html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  color: #363636;
  font: normal bold 90px/86px "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: -4px;
  margin: 0;
}

h2 {
  color: #363636;
  font: normal 600 50px/60px "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  margin: 0;
}

h3 {
  color: #363636;
  font: normal 600 40px/40px "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: -1.5px;
  margin: 0;
}

h4 {
  color: #363636;
  font: normal 600 24px "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  margin: 0;
}

h5 {
  color: #363636;
  font: normal 600 18px "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
}

h6 {
  color: #aaa;
  font: normal normal 16px "Proxima Nova", Arial, Helvetica, sans-serif;
  letter-spacing: -0.5px;
  margin: 0;
}

a {
  color: #fff;
  font: normal 600 20px "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  margin: 0;
}

p {
  color: #818181;
  font: normal normal 20px "Proxima Nova", Arial, Helvetica, sans-serif;
  letter-spacing: -0.7px;
  margin: 0;
}

.global__button {
  border-radius: 35px;
  height: 70px;
}

.global__button--large {
  background: #d0d0d0;
  color: #fff;

  font-size: 22px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -0.2px;

  padding: 0 56px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(/fonts/poppins-bold.woff2) format("woff2"),
    url(/fonts/poppins-bold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url(/fonts/poppins-semibold.woff2) format("woff2"),
    url(/fonts/poppins-semibold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url(/fonts/proxima-nova-regular.woff2) format("woff2"),
    url(/fonts/proxima-nova-regular.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Lt Semibold"), local("ProximaNova-Semibold"),
    url(/fonts/proxima-nova-semibold.woff2) format("woff2"),
    url(/fonts/proxima-nova-semibold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
